<div class="container">
  <h1 class="text-center text-danger">
    ADMINISTRATION
  </h1>
  <h2 class="text-info text-center">Bienvenue dans votre espace d'administration</h2>
  <h4>Utilisation :</h4>
  <p>Pour acceder à votre tableau bord, merci d'utiliser la bar de navigation.</p>
  <h4>Explications :</h4>
  <p>Ce site utilise une API REST, le backend est un CRUD classique PHP, chaque opération est encodé en json avce
    la fonction native PHP : json_encode, les opérations sont les suivante :
  </p>
  <div>
      <ul class="list-group">
        <li class="list-group-item active">EXPLICATION : </li>
        <li class="list-group-item">1 - Angular recupère les fichiers PHP CRUD encoder en Json</li>
        <li class="list-group-item">2 - Angulare utilise des sercices pour comminiquer avec le backend via les opération REST</li>
        <li class="list-group-item">3 - Les opérations REST sont les suivante GET, POST, PUT-PATCH & DELETE</li>
        <li class="list-group-item">4 - Ce sont des requète HTTP qui retourne un status (200 et 400)</li>
        <li class="list-group-item">5 - Les composants Angular appels les services et leurs methodes (fonctions)</li>
        <li class="list-group-item">6 - Les fichiers HTML des composant appels également des fonctions et sont capable de réaliser des condition *ngIf, des boucles *ngFor, des formulaires, etc...</li>
      </ul>
  </div>
</div>
